.footer {
  background-color: $color-primary;

  .footer-content {

    .footer-social-media {
      border-bottom: .1rem solid $color-white;
      margin-top: 4rem;
      margin-bottom: 2rem;

      a {
        font-size: 3rem;
        color: $color-white;
        margin-right: 1rem;
      }
    }

    ul {
      list-style-type: none;
    }
    a {
      color: $color-white;
      font-size: 1.2rem;
    }
    .footer-copyright {
      color: $color-white;
      font-size: 1rem;
      letter-spacing: 1.5px;
      border-top: .1rem solid $color-white;
      padding-top: 1rem;
      margin-bottom: 4rem;
    }
  }
}